body {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #ffffff;
    font-family: 'Robot', sans-serif;
}

.container-app {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 5rem;
    border-radius: 1em;
    background-color: #e3e8ef;
}

.header-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background: rgb(253, 21, 10);
    background: linear-gradient(30deg, rgba(253, 21, 10, 1) 0%, rgba(253, 164, 10, 1) 35%, rgba(222, 78, 253, 1) 100%);
}

h3 {
    line-height: 0;
}

section {
    padding: 1em;
}

#todo-input {
    border-radius: 1em;
    border: none;
}

#todo-submit {
    border-radius: 1rem;
    background-color: #fda40a;
    border: none;
    color: white;
}

#todo-list {
    text-align: center;
    padding: 2em;
    background-color: #e3e8ef;
    color: rgb(159, 159, 176);
}

ul {
    list-style-type: none;
    width: 89%;
}

li {
    background-color: #ff4812;
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 10px;
}